/* Still useing reddits cdn till I download it */
@font-face{font-family:IBMPlexSans;font-weight:400;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Regular-116bb6d508f5307861d3b1269bc597e7.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")}@font-face{font-family:IBMPlexSans;font-weight:500;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Medium-c4b185e25a4dde85a29f902cd5ce5360.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Medium-1051a531d3e1ee3483a6533158557139.woff) format("woff")}@font-face{font-family:IBMPlexSans;font-weight:700;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Bold-875de5047556e7c822519d95d7ee692d.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/IBMPlexSans/Bold-c34ba754b7235b49d33b294ff7a54179.woff) format("woff")}
@font-face{font-family:Noto Sans;font-weight:400;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-e50c34178d20d5fa4ab3c1f6c67901a9.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")}@font-face{font-family:Noto Sans;font-weight:400;font-style:italic;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-0b0b9b2b7159c9bc6463e7ab3b0e8bd0.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-5267af566ab853eb9d74db1a78a46c67.woff) format("woff")}@font-face{font-family:Noto Sans;font-weight:700;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-b85bf848c28799f5ad34ee29db68051c.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-c34ba754b7235b49d33b294ff7a54179.woff) format("woff")}@font-face{font-family:Noto Sans;font-weight:700;font-style:italic;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-5a241c76c24e463ef9bcc5855d20209b.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-255b4934a1f414dd312aa89382d65114.woff) format("woff")}
@font-face{font-family:Noto Mono;font-weight:400;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/Regular-b16bb0524a7e7ee597970333c0c67180.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff")}@font-face{font-family:Noto Mono;font-weight:400;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/el-Regular-29d72243d2cd6145b28bcb80dc33f0e4.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoMono/el-Regular-06ee3f893717454d11a16c3e8d0aa9f9.woff) format("woff");unicode-range:u+0370-03ff,u+1f??}

body {
    font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    background-color: #dbe0e6 !important;
}

.block{
    display: block
}

.a {
    color: #0079d3 !important;
    text-decoration: none !important;
}

#poststuff {
    background-color: white !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    -moz-box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    -webkit-font-smoothing: antialiased;
}

button:not(#chattoggle):not(#editlink) {
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    background-color: #0079D3;
    border-color: #0079D3;
    color: #FFFFFF;
    fill: #FFFFFF;
    display: block;
    transition: background-color 0.1s ease 0s;
}

button:not(#chattoggle):not(#editlink):hover {
    background-color: #3293db;
    border-color: #3293db;
}

button:not(#chattoggle):not(#editlink):active {
    background-color: #0060a8;
}

button:not(#chattoggle):not(#editlink):disabled {
    background-color: #7fbce9;
    border-color: #7fbce9;
    color: rgba(255,255,255,0.5);
    fill: rgba(255,255,255,0.5);
    cursor: not-allowed;
}

button.outline {
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
}

button.outline:hover {
    border-color: #3293db;
    color: #3293db;
    fill: #3293db;
}

button.outline:active {
    border-color: #0060a8;
    color: #0060a8;
    fill: #0060a8;
}

button.outline:disabled {
    border-color: rgba(0,121,211,0.5);
    color: rgba(0,121,211,0.5);
    fill: rgba(0,121,211,0.5);
    cursor: not-allowed;
}

.button:not([href*="javascript:upvote()"]):not([href*="javascript:downvote()"]) {
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    background-color: #0079D3;
    border-color: #0079D3;
    color: #FFFFFF;
    fill: #FFFFFF;
    display: inline-block;
    box-shadow: none;
}

.button:not([href*="javascript:upvote()"]):not([href*="javascript:downvote()"]):hover {
    background-color: #3293db;
    border-color: #3293db;
    box-shadow: none;
}

.button:not([href*="javascript:upvote()"]):not([href*="javascript:downvote()"]):active {
    background-color: #0060a8;
}

.button:not([href*="javascript:upvote()"]):not([href*="javascript:downvote()"]):disabled {
    background-color: #7fbce9;
    border-color: #7fbce9;
    color: rgba(255,255,255,0.5);
    fill: rgba(255,255,255,0.5);
    cursor: not-allowed;
}

.btn.outline {
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
}

.btn.outline:hover {
    border-color: #3293db;
    color: #3293db;
    fill: #3293db;
}

.btn.outline:active {
    border-color: #0060a8;
    color: #0060a8;
    fill: #0060a8;
}

.btn.outline:disabled {
    border-color: rgba(0,121,211,0.5);
    color: rgba(0,121,211,0.5);
    fill: rgba(0,121,211,0.5);
    cursor: not-allowed;
}

.button[href*="javascript:"] {
    color: rgb(135, 138, 140);
    ; box-sizing: border-box;
    border-left: 4px solid transparent;
    flex: 0 0 36px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: rgb(40, 40, 41);
    border: #dddddd solid 1px;
    font-weight: 600;
    border-radius: 2px;
    border-radius: 3px;
    padding: 8px 10px;
    transition: background-color 0.1s ease 0s;
    box-shadow: none;
}

.button[href*="javascript:"]:hover {
    background-color: #ededed;
}

#comment {
    padding: 8px;
    border-radius: 5px;
    border: #bababa solid 1px;
    background-color: transparent
}

textarea {
    padding: 12px;
    margin-bottom: .5rem;
    height: 5rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    width: 50% !important;
    background-color: #fcfcfb !important;
}

.btn.gray {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: rgb(40, 40, 41);
    background-color: #FFFFFF;
    border: #dddddd solid 1px;
    font-weight: 600;
    border-radius: 2px;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: background-color 0.1s ease 0s;
}

.btn.gray:hover {
    background-color: #ededed;
}

.replyto {
    font-size: 90%;
    color: #3b3a3a;
    background-color: transparent;
    box-shadow: none;
    font-weight: 400;
}
.replyto:hover{
    color: #343434 !important;
    box-shadow: none !important;
}

footer {
    background-color: white !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    -moz-box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    box-shadow: 0px 0px 8px -4px rgba(31,31,31,1);
    -webkit-font-smoothing: antialiased;
}

#edited {
    color: #454545;
    font-size: .85rem;
    font-weight: 500 !important;
    display: inline-block;
    background-color: #fcfcfc;
    padding: 1px 5px;
    margin: .25rem 0 1rem 0;
}

#page #page #title {
    display: block;
    color: rgb(26, 26, 27);
    overflow-wrap: break-word;
    margin-bottom: .75rem;
    margin-top: .5rem;
}

#username {
    color: inherit !important;
    font-weight: 500 !important;
}

#editlink {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(40, 40, 41);
    border: #dddddd solid 1px;
    font-weight: 500;
    border-radius: 2px;
    border-radius: 3px;
    padding: 3px 6px;
    transition: background-color 0.1s ease 0s;
}

#editlink:hover {
    background-color: #ededed;
}

/* --- MEDIA STUFF --- */
@media screen and (max-width: 980px) {
    #comtent {
        width:75% !important;
    }
}

@media screen and (max-width: 785px) {
    #comtent {
        width:85% !important;
    }
}

@media screen and (max-width: 750px) {
    #main textarea {
        width:80% !important;
    }
}

@media screen and (max-width: 620px) {
    #comtent {
        width:95% !important;
    }
}

@media screen and (max-width: 600px) {
    #main textarea {
        width:90% !important;
    }

    #comtent {
        width: 93% !important;
    }
}

@media screen and (max-width: 510px) {
    #main textarea {
        width:100% !important;
    }
}

@media screen and (max-width: 340px) {
    #comtent {
        width:93% !important;
    }
}